#root {
  background-image: url('./assets/montana-col-ss.png');
}

html {
  scroll-behavior: smooth;
}

.formatted-image-table img{
  max-height: 300px;

}

.map-container {
  height: 100vh;
}

.marker-popup img{
  max-width: 100%;
}

.cities-index img {
  max-width: 30%;
}

.city-name {
  margin-top: 2em;
}

.water-bg {
  background-color: #79BCEC;
}

.lowland-bg {
  background-color: #acd587;
  height: 10px;
}

.forest-bg {
  background-color: forestgreen;
}

#lowland-button {
  background-color: #C0DA95;
}

#lowland-card {
  background-color: #E3F7D3;
  border-style: solid;
  border-color: #FF9F80;
  border-width: 3px;
}

.image-grid img{
  height: 200px;
  width: 350px;
}

.mapboxgl-popup-content {
  background-color: lightblue;
  width: 150%;
  text-align: center;
  border-style: solid;
  border-color: #FF9F80;
  border-width: 3px;
}

.col-sm-6 {
  height: 20px!;
}

#bootstrap-overrides #lowland-card {
  height: 100%;
  overflow: hidden;
}

#show-body {
  background-image: url('./assets/montana-col-ss.png');
}

#cities-button {
  background-color: #0059A5;
  color: white
}
